@charset "utf-8";
html{
scrollbar-arrow-color:#606060; /*三角箭头颜色*/
scrollbar-face-color:#c2c2c2; /*立体滚动条颜色（包括箭头部分的背景色）*/
scrollbar-3dlight-color:#c2c2c2; /*亮边颜色*/
scrollbar-highlight-color:#c2c2c2; /*高亮颜*/
scrollbar-shadow-color:#f2f2f2; /*阴影颜色*/
scrollbar-darkshadow-color:#f2f2f2; /*外阴影颜色*/
scrollbar-track-color:#f2f2f2; /*背景颜色*/
scrollbar-base-color:#c2c2c2; /*滚动条的基色*/
}
/*webkit浏览器滚动条样式*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{border-radius:10px;background:#c2c2c2;}
::-webkit-scrollbar-thumb:window-inactive {background:#656565;}

body{font-size:14px;font-family:'微软雅黑';padding:0;margin:0;color:#3e3a39;background-color: #ffffff;}
*{padding:0;margin:0;}
ul{margin:0px;padding:0;}
li{list-style-type:none;}
button{border:none;background:none;cursor:pointer;outline: none;font-family:'微软雅黑';star:expression(this.onFocus=this.blur());}
select,input{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{margin:0;display:block;font-weight:normal;font-size:14px;}
a{text-decoration:none; color:#f05f33;cursor:pointer;outline:none;}
a:hover{color:#32a6c8;text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());outline:none;}
img{border:1px solid cornflowerblue;}
u,s{text-decoration:none;}
textarea{font-size:14px;font-family:'微软雅黑';padding:5px;line-height:24px;border:1px solid #bebebe;background:#f8f8f8;color:#595757;}
textarea:focus{border:1px solid #39a5e9;background:#fff;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 150, 249, 0.3);transition:border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;}