.mainContainer{
    width: 80%;
    height: 100%;
    left: 10%;
    position: relative;
    padding: 2% 1% 1% 2%;
}
.title-name{
    border-bottom: 1px solid #D4D5D9;
    padding: 0px 0px 20px 30px;
    color: #848587;
}

.daohang{
    width: 200px;
    height: 300px;
    border-right: 1px solid #D4D5D9;
    float: left;
    position: relative;
}

.daohang ul li{
    height: 33%;
    list-style-type:none;
    text-align: center;
    line-height: 100px;
}

.daohang ul li:nth-child(3){
    border: 5px solid #FEEC80;
    cursor: pointer;
}

.daohang ul li:hover{
    border: 5px solid #FEEC80;
    cursor: pointer;
}

.statistics-content{
    width: 80%;
    height:auto;
    float: left;
    position: relative;
    padding: 20px 0px 0px 20px ;
}

.statistics-item{
    min-width: 300px;
    height: 60px;
    line-height: 60px;
    background-color: #F0F0F0;
    padding: 0 0 0 20px;
    font-size: x-large;
    font-weight: bolder;
}

.item_div{
    margin: 20px 0 20px 0;
}

.item_div h2{
    margin: 20px;
    display : inline;
}

.echarts_div{
    margin: 20px;
    min-height: 350px;
    min-width: 300px;
}

iframe{
    border: none;

}